//header高度
$layoutHeaderHeight: 50px;

// sliderbar宽度
$layoutSideBarWidth: 230px;
$menuText: #bfcbd9;
$menuActiveText: #00ff00;
$subMenuActiveText: #f4f4f5;
$menuBg: #304156;
$menuHover: #263445;
$subMenuBg: #1f2d3d;
$subMenuHover: #001528;
